<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6">
    <%= form_for(task) do |f| %>
    
      <% if task.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="form-group">
        <%= f.label :content, 'タスク名' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :term, '期限' %>
        <%= f.date_select :term, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :status, 'タスク状況'%>
        <%= f.text_field :status, class: 'form-control' %>
      </div>
      <!-- <%= f.select :status,[ ['簡単','簡単'],['普通','普通'],['大変','大変'],['炎上','炎上'] ] %><BR> -->
      
      <div class="form-group">
        <%= f.label :finish, '完了/未完了 ' %>
        <%= f.check_box :finish, class: 'form-control' %>※完了したらチェックをつけること！
      </div>
      <BR>
      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>