<h1>id:<%= @task.id %>のメッセージ編集ページ</h1>

<%= form_for(@task) do |f| %>
    <%= f.label :taskname, 'タスク名：' %>
    <%= f.text_field :taskname %><BR>
      <%= f.label :term, '期限：' %>
    <%= f.date_select :term %><BR>
      <%= f.label :finish, '完了/未完了 ：' %>
    <%= f.check_box :finish %>※完了したらチェックをつけること！<BR>
    <BR>
    <%= f.submit '更新' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>